.nav-item {
  cursor: pointer;
}

::selection {
  cursor: pointer;
  background-color: white;
  color: none;
}
.bg-Todo {
  background-image: url("./Images/Login_Signup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
